{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "browsers": "> 0.25%, not dead"
            },
            "loose": false,
            "useBuiltIns": "usage",
            "corejs": 3,
            "shippedProposals": true
        }]
    ]
}
